
.cards-slider-controls
  hr
  h3 Best Sellers

slider.cards-slider#cardslider(config='topsellers')

  //- card entity
  .col-md-3.col-sm-4.col-xs-6
    .card
      .sale-card-label 
        span Safdsfsdle!
      .pic
        img(src='http://placehold.it/500x500')
      .title
        | 3 Pics Ballet Dancers
      .info.row
        .col-md-5.col-lg-6
          .price
            span 55
            span.old 70 
        .col-sm-offset-5.col-sm-7.col-md-6.col-md-offset-0
          .btn.btn-default
            | Add to card

  .col-md-3.col-sm-4.col-xs-6
    .card
      .pic
        img(src='http://placehold.it/500x500')
      .title
        | 3 Pics Ballet Dancers
      .info.row
        .col-md-5.col-lg-6
          .price
            span 55
            span.old 70 
        .col-sm-offset-5.col-sm-7.col-md-6.col-md-offset-0
          .btn.btn-default
            | Add to card

  .col-md-3.col-sm-4.col-xs-6
    .card
      .hot-card-label 
        span Safdsfsdle!
      .pic
        img(src='http://placehold.it/500x500')
      .title
        | 3 Pics Ballet Dancers
      .info.row
        .col-md-5.col-lg-6
          .price
            span 55
            span.old 70 
        .col-sm-offset-5.col-sm-7.col-md-6.col-md-offset-0
          .btn.btn-default
            | Add to card

  .col-md-3.col-sm-4.col-xs-6
    .card
      .new-card-label 
        span Safdsfsdle!
      .pic
        img(src='http://placehold.it/500x500')
      .title
        | 3 Pics Ballet Dancers
      .info.row
        .col-md-5.col-lg-6
          .price
            span 55
            span.old 70 
        .col-sm-offset-5.col-sm-7.col-md-6.col-md-offset-0
          .btn.btn-default
            | Add to card

  .col-md-3.col-sm-4.col-xs-6
    .card
      .new-card-label 
        span Safdsfsdle!
      .pic
        img(src='http://placehold.it/500x500')
      .title
        | 3 Pics Ballet Dancers
      .info.row
        .col-md-5.col-lg-6
          .price
            span 55
            span.old 70 
        .col-sm-offset-5.col-sm-7.col-md-6.col-md-offset-0
          .btn.btn-default
            | Add to card

  .col-md-3.col-sm-4.col-xs-6
    .card
      .new-card-label 
        span Safdsfsdle!
      .pic
        img(src='http://placehold.it/500x500')
      .title
        | 3 Pics Ballet Dancers
      .info.row
        .col-md-5.col-lg-6
          .price
            span 55
            span.old 70 
        .col-sm-offset-5.col-sm-7.col-md-6.col-md-offset-0
          .btn.btn-default
            | Add to card

  .col-md-3.col-sm-4.col-xs-6
    .card
      .new-card-label 
        span Safdsfsdle!
      .pic
        img(src='http://placehold.it/500x500')
      .title
        | 3 Pics Ballet Dancers
      .info.row
        .col-md-5.col-lg-6
          .price
            span 55
            span.old 70 
        .col-sm-offset-5.col-sm-7.col-md-6.col-md-offset-0
          .btn.btn-default
            | Add to card                                    