.buynow
  .brand
    .clover
      .leaf
      .leaf
      .leaf
      .leaf
        
  h3 You can buy full version here:
  a(src='#') uichest.com/lucky-store

.copyright

  p Created by 
    b Sergey Azovskiy