nav(role="navigation",menu).navbar.navbar-default
        .navbar-header
          button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href="/" ).navbar-brand: .clover-logo
              .leaf
              .leaf
              .leaf
              .leaf
        .collapse.navbar-collapse.navbar-ex1-collapse
          
          ul.nav.navbar-nav.nav-menu
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown",role="button", aria-expanded="false")
                | Men 
                span.caret
              ul.dropdown-menu(role="menu")
                li: a(href="#") Action
                li: a(href="#") Another action
                li: a(href="#") Something else here
                li: a(href="#") Separated link

            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown",role="button", aria-expanded="false")
                | Women 
                span.caret
              ul.dropdown-menu(role="menu")
                li: a(href="#") Action
                li: a(href="#") Another action
                li: a(href="#") Something else here
                li: a(href="#") Separated link

            li(ng-class='{"active": isActive("/sale")}'): a(ng-href="/sale") Sale!
            li(ng-class='{"active": isActive("/signin")}'): a(href="/signin") Login
            li(ng-class='{"active": isActive("/contacts")}'): a(href="/contacts") Contacts


          //- form(role="search").navbar-form.navbar-left
            .form-group 
              input(type="text", placeholder="Search").form-control
            button(type="submit").btn.btn-default Submit
          ul.nav.navbar-nav.navbar-right
            li: a(href="#") 
              .visible-xs-block Sale!
              .hidden-xs: i.fa.fa-search
            li: a(href="#") 
              .visible-xs-block Sale!
              .hidden-xs: i.fa.fa-trash-o
            li: a(href="#") 
              .visible-xs-block Sale!
              .hidden-xs: i.fa.fa-newspaper-o
