.newsletter-form
  .title
    h1 
      span sign up
      =' & '
      span save 10%
    .small
      | for our newsletter
  form
    .form-group
      input.form-control(type="email", placeholder="Enter your email address")
    .form-group
      button(type="button").btn.btn-default Sign Up