.review
  .quote
    p I wonder if I've been changed in the night. Let me think. Was I the same when I got up this morning? I almost think I can remember feeling a little different. But if I'm not the same, the next question is 'Who in the world am I?'
  a.out(href='#') See all reviews

  .media
    a(href="#").media-left
      img(src="http://placehold.it/100x100", alt="")
    .media-body
      h4.media-heading Jack Sparrow
      p New York, USA