.carousel#slider
  .item
    img(src="http://lorempixel.com/940/440/sports")
  .item
    img(src="http://lorempixel.com/940/440/technics")
  .item
    img(src="http://lorempixel.com/940/440/cats")
  .item
    img(src="http://lorempixel.com/940/440/business")
  .item
    img(src="http://lorempixel.com/940/440/city")                  
