@import 'reset.less';

@import 'components/typography.less';
@import 'components/mixin.less';
@import 'components/header.less';
@import 'components/main.less';
@import 'components/slider.less';
@import 'components/cards.less';
@import 'components/footer.less';
@import 'components/newsletter.less';

body{
  width: 100%;
  height: 100%;
  background: #31485b;
}
