footer{
  font-family: @opensans;
  border-top: 1px #d7d7d7 solid;
  text-align: center;

  .buynow{
    font-size: 14px;
    color: #3c5569;
    text-transform: uppercase;
    background-color: #fff;
    padding: 40px 0;
    h3,a{
      padding: 10px 0;
    }
    h3{
      font-size: 16px;
    }
    a{
      font-size: 16px;
      color: #3c5569;
      font-weight: bold;
    }
  }

  .copyright{
    padding: 16px 0;
    color: #fff;
    background-color: #3c5569;
  }

  .clover{
      margin: 0 auto 20px auto;
      .make-clover(#fff, #9cbf3e,64px,1px);
  }

}